.caixa{
    background-color: #3F51B5;
}

.titulo{
   color: rgb(7, 7, 7) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(255, 255, 255) !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: white;
}