.caixa {
    background-color: white;

}

.titulo {
    color: white !important;
    font-weight: "bold"!important;

}
.botao {
    border-color: white !important;
     background-color: #384bb3 !important;
     color: "white";

}
.postagens {
    background-color: white;

}